/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#hello-text {
    font-size: 24px;
    color: #333;
}

#image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
